.main-page{
    width: 100%;
    height: 100%;
    //min-height: 92vh;
    max-height: 92vh;
}

.header{
    background-color: #EE2E24;
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
    padding-top: 5px;
    
}

.btn-getListRepos{
    //height: 20px;
    //width: 100px;
    background-color:white;
    margin-right: 10px;
    border-radius: 8px;
    padding-left: 6px;
    padding-right: 6px;
    margin-bottom: 4px;
}